/* Main page */
.main {
        width: 100%;
        margin: 10px;
        flex-direction: column;
}

/* result section */

.video-result {
        height: 50vh;
        width: 700px;
}
      
.player {
        width: 100%;
        height: 100%;
}

.text-result, .download {
        width: 450px;
}

/* upload section */
.upload {
}
.output {
        padding: 10px 20px;
}

/* download section  */
.download {
}